{#
/**
 * @category   MFB
 * @package    MFBCmsBundle
 * @author     Eric Reiche <e@reiche.me>
 * @author     MFB MeinFernbus GmbH <kontakt@meinfernbus.de>
 * @copyright  2012 MFB MeinFernbus GmbH
 * @license    http://opensource.org/licenses/MIT The MIT License (MIT)
 * @link       https://github.com/meinfernbusde/MFBCmsBundle
 */
 #}
{% extends '::layout_pages.html.twig' %}


{% block title %}{{ "Pressrelease from"|trans }} {{ pressrelease.releasedAt|date("d.m.Y") }}{% endblock %}

{% block content %}

    <strong>{{ "Pressrelease from"|trans }} {{ pressrelease.releasedAt|date("d.m.Y") }}</strong>
    <h2>
        {{ pressrelease.title }}
    </h2>
    <strong>{{ pressrelease.subTitle|raw }}</strong>

    {{ pressrelease.teaser|raw }}
    {{ pressrelease.content|raw }}
    {{ cmsblock('presscurrent_footer') }}
{% endblock %}