{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mfbcms/skin/ui.dynatree.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/mfbcms/css/admin.css') }}" type="text/css" media="all">
{% endblock%}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var treeAddUrl = "{{ admin.generateUrl('ajax_add') }}";
        var treeDeleteUrl = "{{ admin.generateUrl('ajax_delete') }}";
        var treeSaveUrl = "{{ admin.generateUrl('ajax_save') }}";
        var treeListUrl = "{{ admin.generateUrl('ajax_tree') }}";
        var treeFormUrl = "{{ admin.generateUrl('ajax_form') }}";
    </script>

    <script src="{{ asset('/js/jquery.cookie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/jquery.form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/mfbcms/js/jquery.dynatree.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/mfbcms/js/menu.js') }}" type="text/javascript"></script>
{% endblock%}

{% block list_table %}
    <div id="controls" style="display: none;">
        <a href="#" onclick="addTreeChild()"><img src="/img/onebit/01/PNG/onebit_31.png" class="onebit" /></a>
        <a href="#" onclick="deleteTreeChild()"><img src="/img/onebit/01/PNG/onebit_33.png" class="onebit" /></a>
    </div>
    <div id="spinner">
        <img src="/img/ajax-loader.gif"/>
    </div>

    <div>
        <div class="span5">
            <div id="tree"></div>
        </div>
        <div class="span7">
            <div id="edit"></div>
        </div>
    </div>
{% endblock %}
