{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mfbcms/css/admin.css') }}" type="text/css" media="all">
{% endblock%}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mfbcms/js/media.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/mfbcms/js/dropzone.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        var maxSize = {{ maxSize }};
    </script>
{% endblock%}

{% block list_table %}
    <form action="{{ admin.generateUrl('ajax_upload') }}" class="dropzone" id="media-dropzone"></form>
{% endblock %}
