<div class="addGallery">
    <img onclick="addGallery({{ id }}, '{{ type }}')" src="{{ asset('bundles/mfbcms/images/gallery_80.jpg') }}" style="width:50px;"  alt="{{ 'Add gallery'|trans}}" />
</div>
{% for file in files %}
    <div class="image">
        <img onclick="addImage({{ file.id }})" src="{{ asset('bundles/sonataadmin/famfamfam/image_add.png') }}"  alt="{{ 'Add thumbnail'|trans}}" />
        <img onclick="addImageLink({{ file.id }})" src="{{ asset('bundles/sonataadmin/famfamfam/image_link.png') }}"  alt="{{ 'Add thumbnail with link'|trans}}" /><br/>

        <img src="{{ img(file.id, 160, 160) }}"/>
    </div>
{% endfor %}
