{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% set fileChooser = url('admin_mfb_cms_media_embed', { 'id': object.id, 'type': classname(object) }) %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mfbcms/js/dropzone.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/mfbcms/js/filechooser.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var fileChooserUrl = "{{ fileChooser|raw }}";
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mfbcms/css/admin.css') }}" type="text/css" media="all">
{% endblock%}

{% block sonata_admin_right_sidebar %}
    <div class="right-sidebar span4">
        {% if admin.id(object) %}
            {% include 'MFBCmsBundle:MediaAdmin:upload.html.twig'
                with {'object': object}
            %}
            <div id="filechooser">
                {% render fileChooser %}
            </div>
        {% else %}
            {{ "Uploading enabled after save"|trans }}
        {% endif %}
    </div>
{% endblock %}
