{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mfbcms/js/dropzone.js') }}" type="text/javascript"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mfbcms/css/admin.css') }}" type="text/css" media="all">
{% endblock%}

{% block sonata_admin_right_sidebar %}
    <div class="right-sidebar span4">
        {% if admin.id(object) %}
            <form action="{{ path('admin_mfb_cms_media_ajax_upload') }}" id="media-dropzone" class="dropzone">
                <input type="hidden" name="type" value="{{ classname(object) }}"/>
                <input type="hidden" name="parentId" value="{{ admin.id(object) }}"/>
                <div class="default message"><span>{{ "Drop files here to upload"|trans }}</span></div>
            </form>
        {% else %}
            {{ "Uploading enabled after save"|trans }}
        {% endif %}
    </div>
{% endblock %}