{#
/**
 * @category   MFB
 * @package    MFBCmsBundle
 * @author     Eric Reiche <e@reiche.me>
 * @author     MFB MeinFernbus GmbH <kontakt@meinfernbus.de>
 * @copyright  2012 MFB MeinFernbus GmbH
 * @license    http://opensource.org/licenses/MIT The MIT License (MIT)
 * @link       https://github.com/meinfernbusde/MFBCmsBundle
 */
 #}
{% extends '::layout_pages.html.twig' %}

{% block title %}{{ "News archive"|trans }}{% endblock %}

{% block content %}
    {% for post in news %}
        <div class="category">{{ post.category.title }}</div>
        <h4>
            <a href="{{ path('news_show', {'news': post.slug}) }}">{{ post.title }}</a>
        </h4>
        <strong>{{ post.subTitle | cmsrender }}</strong>
        <br/>
        <details>{{ post.content | cmsrender }}</details>
        <br/>
        <time>{{ post.releasedAt|date("d.m.Y") }}</time>
        <br/><br/>
    {% endfor %}
{% endblock %}
